alembicgit 
aniso8601
bcrypt
blinker
click7
dnspython
email-validator
Faker
Flask
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
PyJWT
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
WTForms
