alembic
aniso8601
bcrypt
blinker
click
dnspython
email-validator
Faker
Flask
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
Mako
MarkupSafe
Pillow
flask_cors
PyJWT
psycopg2
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
WTForms

